html, body {
  margin: 0;
  padding: 0;
  background-color: #EAF3F1;
}

canvas {
  display: block;
  border-top: 5px solid #FFCDAF;
  border-bottom: 5px solid #FFCDAF;
}

.wrapper {
  margin: 0 auto;
  width: 90%;
}

header {
  background-color: #EAF3F1;
  color: #EA593E;
  font-family: sans-serif;
  position: relative;
  padding: 20px 0;
}

h1 {
  padding: 10px 0;
  margin: 0;
  z-index: 2;
}

a {
  text-decoration: none;
  color: inherit;
}

.main-nav ul {
  list-style: none;
  padding-left: 0;
}

.main-nav li {
  float: left;
  padding-right: 10px;
}

fieldset {
  border: 1px #4A455C solid;
  margin: 0;
  margin-top: 20px;
  position: relative;
}

fieldset legend {
  color: #4A455C;
}

.button {
  margin-right: 10px;
}

button {
  padding: 5px 15px;
  border: none;
  border-radius: 15px;
  color: #4A455C;
  background-color: #C7D5DF;
  border: 1px solid #4A455C;
  position: relative;
  top: auto;
  box-shadow: 0px 3px 1px black;
}

button:hover {
  background-color: #4A455C;
  color: #C7D5DF;
  border: 1px solid #4A455C;
  cursor: pointer;
}

button:active {
  color: dark;
  top: 2px;
  box-shadow: 0px 1px 1px black;
  background-color: main-dark;
}

.buttonReset {
  float: right;
  margin-right: 0px;
}

.wrapper div {
  padding: 10px 0;
}

.ball, .noise {
  /* margin-right: 10px; */
  /* margin-left: 10px; */
  margin: 10px 0;
  float: left;
}

.ball {
  margin-right: 5px;
  width: calc(50% - 5px);
}

.noise {
  margin-left: 5px;
  width: calc(50% - 5px);
}

.voronoi {
  clear: both;
}

.voronoi input {
  margin: 0;
}