html, body {
  margin: 0;
  padding: 0;
  background-color: #EAF3F1;
}

/* background url: Photo by Patrick Tomasso on Unsplash */

canvas {
  display: block;
  border-top: 5px solid #FFCDAF;
  border-bottom: 5px solid #FFCDAF;
  /* background-image: url("../assets/patrick-tomasso-D6Bk1A3-gMA-unsplash.jpg"); */
}

.wrapper {
  margin: 0 auto;
  width: 90%;
}


header, main {
  background-color: #EAF3F1;
  color: #EA593E;
  font-family: sans-serif;
  position: relative;
  
}
header {
padding: 20px 0;
}

h1 {
  padding: 10px 0;
  margin: 0;
  z-index: 2;
  font-size: 25px;
}

a {
  text-decoration: none;
  color: inherit;
}

.buttons {
  overflow: hidden;
}

.main-nav ul {
  list-style: none;
  padding-left: 0;
}

.main-nav li {
  float: left;
  padding-right: 10px;
}

fieldset {
  border: 1px #4A455C solid;
  margin: 0;
  margin-top: 20px;
  position: relative;
}

fieldset legend {
  color: #4A455C;
}

.button {
  margin-right: 10px;
}

button {
  padding: 5px 15px;
  border: none;
  border-radius: 15px;
  color: #4A455C;
  background-color: #C7D5DF;
  border: 1px solid #4A455C;
  position: relative;
  top: auto;
  box-shadow: 0px 3px 1px black;
}

button:hover {
  background-color: #4A455C;
  color: #C7D5DF;
  border: 1px solid #4A455C;
  cursor: pointer;
}

button:active {
  color: dark;
  top: 2px;
  box-shadow: 0px 1px 1px black;
  background-color: main-dark;
}

.checkbox {
  clear: both;
  display: none;
}

.radioLabel {
  display: block;
  width: calc(100% / 6);
  padding: 10px 15px; 
  float: left;
  cursor: pointer;
  background-color: #4A455C;
  border-radius: 15px 15px 0 0;
  border: 1px solid #4A455C;
  position: relative;
}
.radioLabel:nth-of-type(1)::before{
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 15px 15px 0 0;
  right: 100%;
  bottom: -1px;
  position: absolute;
  background-color: #4A455C;
}
.radioLabel:last-of-type::after{
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 15px 15px 0 0;
  left: 100%;
  bottom: -1px;
  position: absolute;
  background-color: #4A455C;
}
.checkbox:checked + label {
  background-color: #fff;
}

.checkbox:checked ~ fieldset {
  display: none;
}
.rect:checked ~ .rectangle,
.ball:checked ~ .ball,
.noise:checked ~ .noise,
.voronoi:checked ~ .voronoi,
.bokeh:checked ~ .bokeh {
  display: block;
}

.sine:checked ~ .sine {
  display: flex;
  bottom: -150px;
}

fieldset {
  display: none;
  margin: 10px 15px;
  float: left;
  width: calc(100% - 30px);
  position: absolute;
  bottom: -100px;
  left: 0;
}

.voronoi input {
  margin: 0;
  width: 50px;
}


.sine {
  flex-wrap: wrap;
}
.sine div {
  margin: 0 10px;
}
.sine input[type="checkbox"] {
  margin: 5px 5px 0px 0;
}
.sine label {
  width: auto;
}